# This file may be used to create an environment using:
# $ conda create --name art_illumina_profiles -c bioconda --file requirements.txt
# $ conda-env  update  --name art_illumina_profiles --file requirements.txt

art = 2016.06.05
python = 3.5.1
snakemake = 3.5.5
python-wget = 3.2

